@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,600&display=swap");

.Gsap9{
    width: 100%;
    height: 100vh;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
  overflow: hidden;
}

ul{
    list-style: none;
}
.nav9{
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding-top: 20px;
 text-transform: uppercase;
    font-weight: 600;
}
.logo9{
    font-size: 40px;
}
.menu_links9{
    ul{
        li{
            display: inline-block;
            padding-left: 20px;
        }
    }

}
.search9,.cart9{
    font-size: 20px;
}
.content9{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: -1;
}
.title9{
    flex: 0 0 100%;
    font-size: 200px;
    text-transform: uppercase;
    font-weight: 700;
}
.tagline9{
    flex: 1;
    font-size: 30px;
    color: #999;
}
.pages9{
    flex: 0;
    letter-spacing: 5px;
    color: #999;
    span{
        font-size: 60px;
        color: #000;
        font-weight: 600;
    }
}
.more9{
    flex: 1;
a{
    text-decoration: none;
    font-size: 20px;
    color:#fff;
    background-color: #000;
    border-radius: 10px;
    padding: 10px 30px;
}
}
.desc9{
    flex:0 0 32%;
    p{
        &:nth-child(1){
        font-size: 30px;
        margin-bottom: 20px;
        };
        &:nth-child(2){
            line-height: 2;

        }
    };
    span{
color:#AECD31
    }
}
.juice9{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    animation: float9 4s ease-in-out infinite;
    img{
        max-height: 600px;
    }
}
@keyframes float9{
0%{
    transform: translate(-50%,-46%);
}
50%{
    transform: translate(-50%,-54%);
}
100%{
    transform: translate(-50%,-46%);
}
}
.leaves9{
width: 100%;
height:100vh ;
position: absolute;
top: 50%;
left:50%;
z-index: -1;
img{
    max-width: 100%;
    max-height:100% ;
}
.layer9{
position: absolute;
    &:nth-child(1){
        top: -100px !important;
        left: -480px !important;
    }
    &:nth-child(2){
        top: 10px !important;
        left: 160px !important;
    }
    &:nth-child(3){
        top: -300px !important;
        left: 160px !important;
    }
    &:nth-child(4){
        top: -10px !important;
        left: 320px !important;
    }
    &:nth-child(5){
        top: 140px !important;
        left: -320px !important;
    }
}
}
.arrow9 {
    .prev9{
        position: absolute;
        top: 50%;
        left: 100px;
    };
    .next9{
        position: absolute;
        top: 50%;
        right: 100px;
    };
    button{
border: 1px solid #999;
background-color: transparent;
padding: 20px;
border-radius: 50%;
// outline: none;
&:hover{
    color: #fff;
    background-color: #000;
}
    }
}
