@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,600&display=swap");

.Gsap10{
    width: 100%;
    height: 100vh;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #fff;
}
.left10, .right10{
    position:absolute;
    height: 100%;
    width: 50%;
}
.left10{
    background-color: #363450;
}
.right10{
    left: 50%;
    background-color: #D3D9D0;
}
.left_strip10,.right_strip10{
position: absolute;
width: 1px;
height: 100vh;
background-color: #fff;
opacity: 0.5;
}
.left_strip10{
    left: 120px;
}
.right_strip10{
    right:120px ;
}
.nav10{
    position: fixed;
    width: 100%;
    height: 100px;
}
.logo10,.menu10,.catagory10,.search10,.bag10{
position: absolute;
padding: 10px;
margin-top: 10px;
}
.logo10{
    left:20px;
    font-size: 20px;
    font-weight: bolder;
}
.logo10 .reg10{
    font-size: 14px;
vertical-align:super;
}
.menu10{
    left: 150px;
    line-height: 1.2;
    font-size: 20px;
}
.search10,.bag10{
    background-color: #fff;
    color: #363450;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    margin-top: 10px;
}
.search10{
    right: 180px;
}
.bag10{
    right: 40px;
}
.icon10{
    position: relative;
    top: -5px;
    left: -5px;
}
.catagory10 {
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
border: 2px solid #fff;
border-radius: 50px;
background-color: #fff;
color: #363450;
font-weight: 500;
}
.catagory10 ul li{
   display: inline-block;
   padding: 5px 20px; 
}
.media10{
    position: absolute;
    left: -100px;
    top: 50%;
    transform: rotate(-90deg);
    ul{
        li{
            display: inline-block;
            font-weight: 500;
            &:not(:last-child){
                padding-right: 60px;
            }
        }
    }
}
.size10{
    position: absolute;
    left: 150px;
    bottom: 20px;
    ul{
        li{
            margin-left: 10px;
            display: inline-block;
            font-weight: 500;
            border: 1px solid #fff;
            padding-left: 2px;
            border-radius:50%;
            height: 25px;
            width: 25px;
            text-align: center;
            line-height: 1.5;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            &:hover{
                background-color: #fff;
                color:#363450
            }
        }
    }
    span{
        font-weight: 500;
        &::after{
            display: inline-block;
            content: "";
            border: 0.5px solid #fff;
            width: 50px;
            margin: 0 0 3px 10px;
        }
    }
}
.product_img10{
    width: 500px;
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: fly10 4s ease-in-out infinite;
}
@keyframes fly10{
    0%{
        transform: translate(-50%,-46%);
    }
    50%{
        transform: translate(-50%,-54%);
    }
    100%{
        transform: translate(-50%,-46%);
    }
}
.product_text10{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.product_title10{
    font-size: 100px;
    &::after{
        content:".";
        color: #363450 ;
    }
}
.product_sub10{
    font_size:25px;
    font-weight:500;
}
.dots10{
    position:absolute;
    top:43%;
    right:-25px;
    transform: rotate(90deg);
    .dot10{
        display:inline-block;
        height: 10px;
        width:10px;
        background-color: transparent;
        border:2px solid #363450;
        border-radius:50%;
        margin: 0 10px;
        &:first-child{
            background-color: #363450;
        }
    }
}
.bottomnav10{
    position: absolute;
    bottom: 0;
    right:0;
    ul{
        li{
            display: inline-block;
            padding:10px 15px;
            margin: 20px 20px 20px 0;
            background-color: #363450;
            color: #fff;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            &:hover{
                background-color: #fff;
                color: #363450;
            }
        }
    }
}
.bottomnav_img10{
    background: url("https://github.com/codicts/Levis-Landing-Page/blob/master/levi-shirt.jpg?raw=true") no-repeat;
    // background-position: top;
    background-size: cover;
    width: 250px;
    height: 150px;
}